@font-face{
  font-family: "nunito";
  src: url("nunito/Nunito-Light.ttf");
}
@font-face{
  font-family: "Gilroy";
  src: url("Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf");
}

:root {
  --color-theme: #F1EEDB;

  --animation-sentence: 'Villanos!';
  --animation-duration: 40s;
}

.bg403{
  background-image: url(../multimedia/login/403.png);
  background-size: cover;
}
.bg404{
  background-image: url(../multimedia/404.png);
  background-position: center center;
  background-size: cover;
}
.ghost {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 100px);
  /* have the ghost move to the right and to the left of the screen, turning to its central position and repeating the animation twice */
  animation: hoverGhost calc(var(--animation-duration)/2) ease-in-out 2;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1 0 auto;
}
  
.pad-nav{
  padding-left: 25px;
  padding-right: 25px;
}
.justificar{
  text-align: justify;
}

.Titulos{
  font-family: "Gilroy" ;    
  letter-spacing: 2mm;  
}
.Subtitulos{
  font-family: "Gilroy";
  letter-spacing: 1mm;
}
.Texto{
  font-family: "nunito";
}
.Texto-italic{
  font-family: "Glaciali";
}


.espacio{
  word-spacing: 20px;
}
.Portada{
  width: 100%;
  height: 500px;
}
.login-background{
  background-image: url("../multimedia/login/login.png");
  background-size: cover;
}
.rad{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.img-rad{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.radcard{
  border-image: 10px;
}
.alto-card{
  height: 200px;
  min-height: 150px;
  max-height: 200px;
}

.ancho-medio-derecha{
  float: right;
  width: 50%;
  height: 500px;
}
.ancho-medio-izquierda{
  float: left;
  width: 50%;
  height: 500px;;
}
.centrar{
  display:block;
  margin:auto;
}


.ancho-completo{
  width: 100%;
  height: 500px;
  flex: 50%;
}
.ancho-medio{
  width: 50%;
}
.mover-derecha{
  float: right;
}

.parallax-container {
  min-height: 475px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  
  .ancho-medio-derecha{
    width: 100%;
    height: auto;
  }
  .ancho-medio-izquierda{
    width: 100%;
    height: auto;
  }
  .parallax-container .section {
    top: 40%;
    position: absolute;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.btnc{
  position: absolute;
}

@keyframes hoverGhost {
  25% {
    transform: translateX(-20vw);
  }
  75% {
    transform: translateX(20vw);
  }
}